<article>

    <h1>{{ .Title }}</h1>

    {{ if or (not (isset .Params "meta")) (eq .Params.meta true) }}
      {{ partial "category_with_tag" . }}
    {{ end }}

    {{ if not (.Params.replace_site_logo) }}
      {{ partial "featured_image" . }}
    {{ end }}

    {{ .Content }}

</article>

<article>
    <img src="/images/wechat.png">
</article>

<article>
    <h3>转载申请</h3>

    <p>
        本作品采用 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a> 进行许可，转载时请注明原文链接，图片在使用时请保留全部内容，商业转载请联系作者获得授权。
    </p>
</article>