{{ if not .Params.meta }}
<section class="post-nav">
    <ul>
        <li>
        {{ with .PrevInSection }}
            <a href="{{.Permalink}}"><i class="fa fa-chevron-circle-left"></i> {{ .Title }}</a>
        {{ end }}
        </li>
        <li>
        {{ with .NextInSection }}
            <a href="{{.Permalink}}">{{ .Title }} <i class="fa fa-chevron-circle-right"></i> </a>
        {{ end }}
        </li>
    </ul>
</section>
  {{ if not .Params.disableComments }}
    {{ if .Site.Params.UtterancesRepo }}
        {{ partial "utterances" . }}
    {{ end }}
    {{ if .Site.DisqusShortname }}
        {{ partial "disqus" . }}
    {{ end }}
  {{ end }}
{{ end }}

<script src="https://giscus.app/client.js"
        data-repo="duanbiaowu/dbwu.tech"
        data-repo-id="R_kgDOIkkjjw"
        data-category="Announcements"
        data-category-id="DIC_kwDOIkkjj84CV78j"
        data-mapping="specific"
        data-term="{{ .Params.Title }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous" async>
</script>
